@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
	font-style: normal;
    font-weight: 600;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}